<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title> Home | Bem vindo(a) </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!---icones---->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="jumbotron text-center" style="background-color: rgba(95, 176, 161, 0.5); ">
      <i class="fas fa-box-open" style="font-size:50px;color:blue"></i>
      <h1>Lorem Ipsum Shop</h1>
      <p></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 style="margin-left:100px;">Produtos</h4>
                <a href="/produto"> <img src="media/img_02.jpg" class="rounded .img-fluid" style="width:295px; max-width:295px; height:auto;"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            </div>
            <div class="col-sm-4">
                <h4 style="margin-left:100px;">Contato</h4>
                <a href="/contato"><img src="media/img_01.png" class="rounded .img-fluid" style="width:290px; max-width:290px; height:auto; "></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            </div>
            <div class="col-sm-4">
                <h4 style="margin-left:100px;">Sobre</h4>
                <a href="/sobre"><img src="media/img_03.jpg" class="rounded .img-fluid animated bounce infinite" style="width:300px; max-width:300px; height:167px;"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            </div>
        </div>
    </div>
    <footer class="bg-light text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2021 <i class="fas fa-star" style="font-size:14px;color:blue"></i> VickStuff
        </div>
   </footer>
</body>
</html>
