<!DOCTYPE html>
<!--*************************************************************--->
<!--FEITO POR VICKSTUFF, 2021 - https://github.com/Victoria-Belo --->
<!--*************************************************************--->
<html lang="pt-br">
<head>
  <title>Lorem Ipsum Shop | Produtos </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

 <div class="jumbotron text-center" style="background-color: rgba(95, 176, 161, 0.5); background-image:url(media/img_04.jpg); ">
      <i class="fas fa-box-open" style="font-size:50px;color:blue"></i>
     <h2>Lorem Ipsum Shop</h2>

      <p></p>
    </div>

    <div class="container" style="margin-top:-10px">
        <div class="media border p-3">
            <i class="fa fa-user-circle" style="font-size:50px; padding:10px; margin-top:-7px;"></i>
              <div class="media-body">
                    <h4 style=" padding:10px;"> Silveira Silva  <small><i style="font-size:15px;">Diretor</i></small></h4>
                    <p style=" padding:10px;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. .</p>
              </div>
        </div>
        <a href="/index" class="btn btn-danger" style="margin-top:5px">Voltar</a>
    </div>
    <footer class="bg-light text-center text-lg-start" style="margin-top:10px">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2021 <i class="fas fa-star" style="font-size:14px;color:blue"></i> VickStuff
        </div>
   </footer>
</body>
</html>
